{{define "title"}}公司简介{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<div>
		<image src="static/sensingicon/sensing_intro_gateway.jpg"></image>
	</div>
	<p>This project demonstrates how to structure and build a website using 
	the Go language without a framework.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}