{{define "contact"}}

<div class="section section-contact-3" id="contact">
    <div class="contact-container">
        <div class="address-container add-animation animation-1">
            <div class="address">
                <h4>联系Kelvin</h4>
                <p class="text-gray">
                    北京市，朝阳区，<br>
                    定福庄天泰定福苑
                </p>
                <h4>Want to say hello?</h4>
                <a target="_blank" href="http://www.creative-tim.com/contact-us" class="btn btn-black btn-contact">
                    CONTACT US <i class="fa fa-paper-plane"></i>
                </a>
                <h4>感谢您对Kelvin的认可和关注!</h4>


                <div class="col-md-6">
                    <button id="facebook" class="btn btn-lg btn-contact btn-block sharrre">
                        <i class="fa fa-facebook-square"></i> Facebook
                    </button>
                </div>
                <div class="col-md-6">
                    <button id="twitter" class="btn btn-lg btn-contact btn-block sharrre">
                        <i class="fa fa-twitter"></i> Twitter
                    </button>
                </div>
            </div>
        </div>
        <div class="map" style="background-color: #d6c3d6;">

        </div>
    </div>
</div>

{{end}}