{{define "follow"}}

<div class="section section-we-made-3" id="follow">
    <div class="container">
        <div class="row">
            <div class="title add-animation">
                <h2>谁在关注</h2>
                <div class="separator-container">
                    <div class="separator line-separator">∎</div>
                </div>
                <p>Check out the most popular freebies from our platform. We would love to hear your feedback.<br><br></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="project add-animation animation-1">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/material-dashboard?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">Just Launched</h5>
                            <h3>Material Dashboard</h3>
                            <p>Material Dashboard is a free Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design</p>
                            <a target="_blank" href="http://demos.creative-tim.com/material-dashboard/examples/dashboard.html" class="btn btn-round">Live View</a>
                            <a target="_blank" href="http://www.creative-tim.com/product/material-dashboard?ref=presentation-page" class="btn btn-round btn-fill">Free Download</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="project add-animation animation-2">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/material-kit?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">6.800+ Downloads</h5>
                            <h3>Material Kit</h3>
                            <p>Material Kit is a Free Bootstrap UI Kit with a fresh, new design inspired by Google's material design. You asked for it, so we built it. It's a great pleasure to introduce...</p>
                            <a target="_blank" href="http://demos.creative-tim.com/material-kit/index.html?ref=presentation-page" class="btn btn-round">Live View</a>
                            <a target="_blank" href="http://www.creative-tim.com/product/material-kit?ref=presentation-page" class="btn btn-round btn-fill">Free Download</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="project add-animation animation-3">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/get-shit-done-kit?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">19.200+ Downloads</h5>
                            <h3>Get Shit Done Kit</h3>
                            <p>Free Bootstrap 3 UI Kit, the best starting point for any online project you are building. It magically offers responsive design and easy to use elements.</p>
                            <a target="_blank" href="http://www.creative-tim.com/get-shit-done" class="btn btn-round">Live View</a>
                            <a target="_blank" href="http://www.creative-tim.com/product/get-shit-done-kit?ref=presentation-page" class="btn btn-round btn-fill">Free Download</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="space-50"></div>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="project add-animation animation-1">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/gaia-bootstrap-template?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">3.100+ Downloads</h5>
                            <h3>Gaia Bootstrap Template</h3>
                            <p>
                                Gaia Bootstrap Template is the Free Demo of Gaia Bootstrap Template PRO which is a multi-page Bootstrap template designed to be easy to use and stylish.
                            </p>
                            <a target="_blank" href="http://demos.creative-tim.com/gaia-bootstrap-template/freebie.html" class="btn btn-round">Live View</a>
                            <a target="_blank" href="http://www.creative-tim.com/product/gaia-bootstrap-template?ref=presentation-page" class="btn btn-round btn-fill">Free Download</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="project add-animation animation-2">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/light-bootstrap-dashboard?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">8.500+ Downloads</h5>
                            <h3>Light Bootstrap Dashboard</h3>
                            <p>Light Bootstrap Dashboard is an admin dashboard template designed to be beautiful and simple. It is built on top of Bootstrap 3 and it is fully responsive.</p>
                            <a target="_blank" href="http://demos.creative-tim.com/light-bootstrap-dashboard/dashboard" class="btn btn-round">Live View</a>
                            <a target="_blank" href="http://www.creative-tim.com/product/light-bootstrap-dashboard?ref=presentation-page" class="btn btn-round btn-fill">Free Download</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="project add-animation animation-3">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/paper-kit?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">6.200+ Downloads</h5>
                            <h3>Paper Kit</h3>
                            <p>Paper Kit is a free Bootstrap UI kit that can get you going in a new creative direction! To say the least, it's different since it's not material, flat or iOS inspired.</p>
                            <a target="_blank" href="http://demos.creative-tim.com/paper-kit" class="btn btn-round">Live View</a>
                            <a target="_blank" href="http://www.creative-tim.com/product/paper-kit?ref=presentation-page" class="btn btn-round btn-fill">Free Download</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}