{{define "future"}}

<div class="section section-numbers-1" id="future">
    <div class="container">
        <div class="text-area">
            <div class="title add-animation">
                <h2>人工智能</h2>
                <div class="separator-container">
                    <div class="separator line-separator">∎</div>
                </div>
                <p>"Started from the bottom now we're here" - Drake </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="card card-plain add-animation animation-1">
                    <h3>Users</h3>
                    <h5>Businesses and Professionals</h5>
                    <div class="number">
                        116.000+
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="card card-plain add-animation animation-2">
                    <h3>Downloads</h3>
                    <h5>Freebies, Templates &amp; UI Kits</h5>
                    <div class="number">
                        186.000+
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="card card-plain add-animation animation-3">
                    <h3>Countries</h3>
                    <h5>Where we made sponsorships</h5>
                    <div class="number">
                        14
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}