{{define "partner"}}

<div class="section section-we-made-3" id="partner">
    <div class="container">
        <div class="row">
            <div class="title add-animation">
                <h2>合作伙伴</h2>
                <div class="separator-container">
                    <div class="separator line-separator">∎</div>
                </div>
                <p>Check out these UI Tools, they will speed up your development process for sure!<br><br></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="project add-animation animation-1">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/material-kit-pro?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">UI Kit from $79</h5>
                            <h3>Material Kit PRO</h3>
                            <p>Start Your Development With A Badass Bootstrap UI Kit inspired by Material Design. If you like Google's Material Design, you will love this kit!</p>
                            <a target="_blank" href="http://www.creative-tim.com/product/material-kit-pro/?ref=presentation-page" class="btn btn-round btn-fill">More Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project add-animation animation-2">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/gaia-bootstrap-template-pro?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">Template from $29</h5>
                            <h3>Gaia Bootstrap Template PRO</h3>
                            <p>Gaia is a multi-page Bootstrap Template designed to be easy to use and stylish. If you are trying to create a new website, presentation page or blog, this is definitely a great fit for you.</p>
                            <a target="_blank" href="http://www.creative-tim.com/product/gaia-bootstrap-template-pro/?ref=presentation-page" class="btn btn-round btn-fill">More Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project add-animation animation-3">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro/?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">Dashboard from $39</h5>
                            <h3>Light Bootstrap Dashboard PRO</h3>
                            <p>Light Bootstrap Dashboard PRO is a Bootstrap Admin Theme designed to look simple and beautiful. It comes integrated with a large number of plugins redesigned to fit in with the rest of the elements. </p>
                            <a target="_blank" href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro/?ref=presentation-page" class="btn btn-round btn-fill">More Details</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">

            <div class="col-md-4">
                <div class="project add-animation animation-1">
                    <a target="_blank" class="img-class" href="http://creative-tim.com/product/paper-kit-pro/?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">UI Kit from $49</h5>
                            <h3>Paper Kit PRO</h3>
                            <p>Paper Kit PRO is a set of coded web components built over Bootstrap, having a design that resembles paper. The kit comes with a huge number of customisable components.</p>
                            <a target="_blank" href="http://creative-tim.com/product/paper-kit-pro/?ref=presentation-page" class="btn btn-round btn-fill">More Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project animation-3">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/paper-dashboard-pro?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">Dashboard from $39</h5>
                            <h3>Paper Dashboard PRO</h3>
                            <p>Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised.</p>
                            <a target="_blank" href="http://www.creative-tim.com/product/paper-dashboard-pro/?ref=presentation-page" class="btn btn-round btn-fill">More Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project add-animation animation-2">
                    <a target="_blank" class="img-class" href="http://www.creative-tim.com/product/get-shit-done-pro/?ref=presentation-page">
                        <img src="/static/sensingicon/demo.jpg">
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5 class="text-gray">UI Kit from $39</h5>
                            <h3>Get Shit Done PRO</h3>
                            <p>Get Shit Done Kit Pro comes with a huge number of customisable components. The components are not only designed to be pixel perfect and light but are also easy to use and match each other perfectly.</p>
                            <a target="_blank" href="http://www.creative-tim.com/product/get-shit-done-pro/?ref=presentation-page" class="btn btn-round btn-fill">More Details</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{{end}}