{{define "team"}}

<div class="section section-team-2" id="team">
    <div class="container">
        <div class="text-area">
            <div class="title add-animation">
                <h2>深醒团队</h2>
                <div class="separator-container">
                    <div class="separator line-separator">∎</div>
                </div>

            </div>
        </div>
        <div class="team">
            <div class="row">
                <div class="col-md-3">
                    <div class="member add-animation animation-1">
                        <img class="img-circle" src="/static/sensingicon/demo.jpg">
                        <div class="description">
                            <h3 class="big-text">Elena Conacel </h3>
                            <br>
                            <p class="small-text">
                                Elena is one of the co-founders and takes care of growth, product development and partnerships. She is analytical, driven and adapts easily to new conditions, while trying to keep everyone on track.
                            </p>
                        </div>
                        <div class="social-buttons hidden-xs">
                            <a target="_blank" href="https://twitter.com/conacelelena" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/elena-cristina-conacel-a89a436b" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member add-animation animation-2">
                        <img class="img-circle" src="/static/sensingicon/demo.jpg">
                        <div class="description">
                            <h3 class="big-text">Diana Caliman </h3>
                            <br>
                            <p class="small-text">
                                Diana is the person behind our social media channels, she takes care of our users' community and communication. She is ambitious, hard-working, instantly likeable and fun to be around.
                            </p>
                        </div>
                        <div class="social-buttons hidden-xs">
                            <a target="_blank" href="https://twitter.com/eDianaCaliman" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/diana-caliman-751552b5" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                            <a target="_blank" href="https://www.facebook.com/zhxiaowen" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                        </div>


                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member add-animation animation-3">
                        <img class="img-circle" src="/static/sensingicon/demo.jpg">
                        <div class="description">
                            <h3 class="big-text">Alex Paduraru</h3>
                            <br>
                            <p class="small-text">Alex is one of the co-founders and drives the technical strategy of the platform, customer support and brand. He is level-headed, smart and with a taste for simple, aesthetic design.</p>
                        </div>
                        <div class="social-buttons hidden-xs">
                            <a target="_blank" href="https://www.facebook.com/zhxiaowen" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                            <a target="_blank" href="https://twitter.com/Axelut" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/alexpaduraru" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member add-animation animation-4">
                        <img class="img-circle" src="/static/sensingicon/demo.jpg">
                        <div class="description">
                            <h3 class="big-text">Beniamin Marcu</h3>
                            <br>
                            <p class="small-text">
                                Beni is the guy responsible for keeping the platform in check, improving its functionality and adding new features. He is driven, always open for learning more, friendly and a fan of Ruby on Rails.
                            </p>
                        </div>

                        <div class="social-buttons hidden-xs">
                            <a target="_blank" href="https://twitter.com/marcu_beniamin" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/beniamin-marcu-52856947" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                            <a target="_blank" href="https://www.facebook.com/zhxiaowen" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}