{{define "team"}}

<div class="section section-team-2" id="team">
    <div class="container">
        <div class="text-area">
            <div class="title add-animation">
                <h2>深醒团队</h2>
                <div class="separator-container">
                    <div class="separator line-separator">∎</div>
                </div>

            </div>
        </div>
        <div class="team">
            <div class="row">
                <div class="col-md-3">
                    <div class="member add-animation animation-1">
                        <img class="img-circle" src="/static/sensingicon/demo.jpg">
                        <div class="description">
                            <h3 class="big-text">袁培江</h3>
                            <br>
                            <p class="small-text">
                                袁老师 <br>
								袁老师 <br>
								袁老师 <br>
                            </p>
                        </div>
                        <div class="social-buttons hidden-xs">
                            <a target="_blank" href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-weixin"></i></a>
							<a target="_blank" href="#" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-qq"></i></a>
                            <a target="_blank" href="#" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-envelope"></i></a>   
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member add-animation animation-2">
                        <img class="img-circle" src="/static/sensingicon/demo.jpg">
                        <div class="description">
                            <h3 class="big-text">史老师 </h3>
                            <br>
                            <p class="small-text">
                                史老师 <br>
								史老师 <br>
								史老师 <br>
                            </p>
                        </div>
                        <div class="social-buttons hidden-xs">
                            <a target="_blank" href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-weixin"></i></a>
							<a target="_blank" href="#" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-qq"></i></a>
                            <a target="_blank" href="#" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-envelope"></i></a>                            
                        </div>


                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member add-animation animation-3">
                        <img class="img-circle" src="/static/sensingicon/demo.jpg">
                        <div class="description">
                            <h3 class="big-text">范斌 </h3>
                            <br>
                            <p class="small-text">
							范斌 <br>
							范斌 <br>
							范斌 <br>
							</p>
                        </div>
                        <div class="social-buttons hidden-xs">
							<a target="_blank" href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-weixin"></i></a>
                            <a target="_blank" href="#" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-qq"></i></a>                            
                            <a target="_blank" href="#" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member add-animation animation-4">
                        <img class="img-circle" src="/static/sensingicon/demo.jpg">
                        <div class="description">
                            <h3 class="big-text">李禾禾 </h3>
                            <br>
                            <p class="small-text">
                            李禾禾    <br>
							李禾禾	<br>
							李禾禾	<br>
                            </p>
                        </div>

                        <div class="social-buttons hidden-xs">
                            <a target="_blank" href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-weixin"></i></a>
							<a target="_blank" href="#" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-qq"></i></a>
                            <a target="_blank" href="#" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}