{{define "tech"}}

<div class="section section-clients-2" id="tech">
    <div class="container">
        <div class="title add-animation">
            <h2>我们的技术</h2>
            <div class="separator-container">
                <div class="separator line-separator">∎</div>
            </div>
        </div>
        <div class="tab-content quotes add-animation animation-2">
            <div class="tab-pane active" id="sony">
                <p class="large">
                    Hey Creative-Tim team. Absolutely love your work! It's a God-send for a developer like me who doesn't know his ass from great design! Keep up the awesome work! Ed
                </p>
            </div>

            <div class="tab-pane" id="canon">
                <p class="large">Hello there, My Name is Abhi Khatri. You're simply awesome. I would love to contact you. I'm a new front-end developer but everytime I checkout your stuff it gives me idea to make my own stuff. Keep it up :)</p>
            </div>

            <div class="tab-pane" id="samsung">
                <p class="large">
                    Finding a website with a vast purpose is always inspiring to continue front web development. But you did Magic my friends. Keep going and be sure if there is a donation, I'm in. Thanks for your daily hardworking. hope to meet u guys one day.
                </p>
            </div>

            <div class="tab-pane" id="intel">
                <p class="large">Hi, your site and all the stuff on it looks simply awesome, thank's for sharing. Love this. Greetings from Germany!</p>
            </div>
        </div>
        <ul class="nav nav-text list-logos add-animation animation-2" role="tablist">
            <li class="active">
                <a href="../#sony" role="tab" data-toggle="tab">
                    <h3 class="big-text">Edwin Rede</h3>
                </a>
            </li>
            <li>
                <a href="../#canon" role="tab" data-toggle="tab">
                    <h3 class="big-text">Abhi Khatri</h3>
                </a>
            </li>
            <li>
                <a href="../#samsung" role="tab" data-toggle="tab">
                    <h3 class="big-text">Fars Kid</h3>
                </a>
            </li>
            <li>
                <a href="../#intel" role="tab" data-toggle="tab">
                    <h3 class="big-text">Kolodziej Nikolai</h3>
                </a>
            </li>
        </ul>
    </div>
</div>

{{end}}