{{define "whoweare"}}

<whoweare>
<div class="section section-we-are-1" id="whoWeAre">
    <div class="text-area">
        <div class="container">
            <div class="row">
                <div class="title" id="animationTest">
                    <h2>关于深醒科技</h2>
                    <div class="separator-container">
                        <div class="separator line-separator">∎</div>
                    </div>
                    <p class="large">
                        北京深醒科技有限公司成立于2016年1月，是一家从事人工智能方向，集研发、生产和销售为一体的高科技公司，以人脸识别技术切入AI战场。成立近一年来，已为安防监控、金融、地产、学校、医院等领域提供多种解决方案。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card add-animation animation-2 animate">
                            <img alt="..." src="/static/sensingicon/demo.jpg">
                        </div>
                        <div class="card add-animation animation-4">
                            <img alt="..." src="/static/sensingicon/demo.jpg">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card add-animation animation-1 animate">
                            <img alt="..." src="/static/sensingicon/demo.jpg">
                        </div>
                        <div class="card add-animation animation-3">
                            <img alt="..." src="/static/sensingicon/demo.jpg">
                        </div>
                        <div class="card add-animation animation-2">
                            <img alt="..." src="/static/sensingicon/demo.jpg">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card add-animation animation-3 animate">
                            <img alt="..." src="/static/sensingicon/demo.jpg">
                        </div>
                        <div class="card add-animation animation-1">
                            <img alt="..." src="/static/sensingicon/demo.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</whoweare>

{{end}}